<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    LISTA OFERT
    {% for order in orders %}
    <h2>{{ order.topic }}</h2>
    <button><a href="{% url 'zamowienie' id=order.id %}">Przyjmij zamówienie</a></button>
    {% endfor %}
    <br>
    DODAJ ZDJĘCIE DO PROFILU
    <button>
        <a href="{% url 'profile' %}">Upload your image</a>
    </button>
</body>
</html>